@use "variables" as var;
@use "mixins";

.outline {
  border: 1px solid greenyellow;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: inherit;
}

.landing {
  height: 90vh;
}
