.outline {
  border: 1px solid greenyellow;
}

.container-column {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.container-row {
  display: flex;
  flex-direction: row;
  width: inherit;
}

.footer {
  padding: 10px;
  div {
    padding: 10px;
  }
}

.landing {
  height: 90vh;
}

.maincontent {
  height: 90vh;
}
