@use "variables" as var;
@use "mixins";
.startpage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 3rem 1rem;
}
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1.2rem 1rem;
  border-radius: 10px;
  h2 {
    margin: 1rem 0 0 0;
  }
  p {
    margin: 0 0 1rem 0;
  }
  a {
    color: var.$fontColorDark;
    font-weight: 600;
    i {
      margin-left: 0.5rem;
    }
  }
  &:nth-child(1) {
    background-color: var.$cardLilac;
  }

  &:nth-child(2) {
    background-color: var.$cardBlue;
    margin: 1rem 0 1rem 0;
  }

  &:nth-child(3) {
    background-color: var.$cardGreen;
  }
}
@include mixins.tablet {
  .hero {
    height: 70vh;
  }
  .content-container {
    margin: 0.6rem;
  }
}

@include mixins.desktop {
  .hero {
    margin-bottom: 0;
  }
  .content-container {
    flex-direction: row;
    align-items: stretch;
    margin: 2rem 1rem 2rem 1rem;
  }
  .content-card {
    flex: 1;
    margin: 1rem;
    &:nth-child(2) {
      margin: 1rem;
    }
  }
}
