@use "variables" as var;
@use "mixins";
.startpage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  h1 {
    font-family: var.$heroFont;
    font-size: 2rem;
    font-weight: 700;
    color: var.$fontColorLight;
    text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7);
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 3rem 1rem;
}
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1.2rem 1rem;
  border-radius: 10px;
  h2 {
    margin: 1rem 0 0.5rem 0;
    @include mixins.headingSMobile {
      color: var.$fontColorDark;
    }
  }
  p {
    margin: 0 0 1.2rem 0;
    color: var.$fontColorDark;
    font-family: Jost;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  a {
    color: var.$fontColorDark;
    font-weight: 600;
    i {
      margin-left: 0.5rem;
    }
  }
  &:nth-child(1) {
    background-color: var.$cardLilac;
  }

  &:nth-child(2) {
    background-color: var.$cardBlue;
    margin: 1rem 0 1rem 0;
  }

  &:nth-child(3) {
    background-color: var.$cardGreen;
  }
}
@include mixins.tablet {
  .hero {
    height: 70vh;
    h1 {
      font-size: 4rem;
    }
  }
  .content-container {
    margin: 0.6rem;
  }
}

@include mixins.desktop {
  .hero {
    margin-bottom: 0;
    h1 {
      font-size: 5rem;
    }
  }
  .content-container {
    flex-direction: row;
    align-items: stretch;
    margin: 2rem 1rem 2rem 1rem;
  }
  .content-card {
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
    &:nth-child(2) {
      margin: 1rem;
    }
  }
}
