@use "variables" as var;

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 786px) {
    @content;
  }
}

// FONTSTYLES

@mixin headingLMobile {
  @content;
  color: var(--Secondary-font-color, #000);
  font-family: var.$primaryfontFamliy;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

@mixin headingSMobile {
  @content;
  font-family: var.$primaryfontFamliy;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}

@mixin paragraphLMobile {
  font-family: var.$primaryfontFamliy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

@mixin paragraphSMobile {
  font-family: var.$primaryfontFamliy;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
}

@mixin pagePresentationMobile {
  font-family: var.$primaryfontFamliy;
  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
  }
}
@mixin pagePresentationTablet {
  font-family: var.$primaryfontFamliy;
  h1 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@mixin pagePresentationDesktop {
  font-family: var.$primaryfontFamliy;
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
//******** BUTTONS ********//

@mixin buttonSmall {
  font-family: var.$secondaryfontFamliy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  color: var.$fontColorDark;
  background-color: var.$fontColorLight;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  cursor: pointer;
}
