@use "variables" as var;
@use "mixins";

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  h2 {
    margin: 0rem;
    @include mixins.headingLMobile;
  }
  p {
    font-size: 0.8rem;
    margin-top: 2rem;
    @include mixins.paragraphSMobile;
  }
}

.show-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 0.5rem;
  text-align: left;
  border-radius: 5px;
  background-color: var.$contentCard;
  position: relative;

  .post-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      font-family: var.$primaryfontFamliy;
      color: var.$fontColorLight;
    }
    img {
      height: 100%;
      max-width: 40%;
      border-radius: 5px 0 0 5px;
      object-fit: cover;
    }
  }
  .save {
    background: none;
    color: var.$fontColorLight;
    border: none;
    padding: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
.text-container {
  padding: 10px 10px 10px 16px;
  height: fit-content;
  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
}
.more {
  display: none;
}

// TABLET AND DESKTOP
@include mixins.tablet {
  .headings {
    @include mixins.pagePresentationTablet;
  }
  .show-posts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .post-container {
    display: flex;
    width: 340px;
    height: 420px;
    margin: 1rem;
    padding: 0;
    border-radius: 5px;
    background-color: var.$contentCard;
    position: relative;

    .post-content {
      display: flex;
      flex-direction: column;
      align-items: end;
      * {
        font-family: var.$primaryfontFamliy;
        color: var.$fontColorLight;
      }

      img {
        width: 100%;
        max-width: 100%;
        border-radius: 5px 5px 0 0;
        align-self: flex-start;
      }
    }
    .save {
      * {
        font-size: 2rem;
      }
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    padding: 1rem;
    height: 60%;
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      padding-top: 5px;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
  .more {
    display: block;
    font-weight: 600;
    text-align: right;
    padding: 0 1rem 1rem 0;
  }
}
