// Colors
$primaryColor: #195e5a;
$secondaryColor: #6ba09d;

$fontColorLight: #fffffc;
$fontColorDark: #1d1d1d;

$hoverlight: #95ccc9;
// $hoverdark:;

$darkGreen: #43644b;
$lightGreen: #7b9281;

$contentCard: #3f6462;
$filter: #98bda1;

//Startpage
$cardLilac: #aea3bb;
$cardBlue: #6b8e8c;
$cardGreen: #779a7f;

// Fonts
$primaryfontFamliy: "Jost", sans-serif;
$secondaryfontFamliy: "Asap", sans-serif;
$heroFont: "Passion One", sans-serif;
