$primaryColor: #195e5a;
$secondaryColor: #6ba09d;

$fontColorLight: #fffffc;
$fontColorDark: #1d1d1d;

$hoverlight: #95ccc9;
// $hoverdark: $secondaryColor;

$contentCard: #3f6462;
$filter: #98bda1;

// Textsstyles
$primaryfontFamliy: "DM Sans", sans-serif;
$headingMobile: "jost-700";
$headinDesktop: "";
$bodytext: "";
$navFont: "";
